#root {
  margin: 0 auto;
  padding: 0.5vh;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(360deg);
  }
}

.full-page {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.mobile-wait {
  display: none;
}

@media screen and (max-width:1279px) {
  .full-page {
    display: none;
  }

  .mobile-wait {
    display: block;
  }

  .mob-notice {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    color: #15326F;
    text-align: center;
    padding-top: 4rem;
  }

  .mnp {
    animation: moveUpDown 3s ease-in-out infinite;
  }

  @keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Adjust the value to control the distance */
    }
  }

}